{% extends "users/base.html" %} {% block title %} Home Page {% endblock title%} {% block content %}
<div class="jumbotron">
    <h1 class="display-4">Booking parking spaces in the Fregat office center.</h1>
    <p class="lead">
        Welcome, {{user.first_name.title|default:'Guest'}}
    </p>
    {% if user.is_authenticated %}
    <a class="btn btn-primary btn-lg" href="{% url 'create_park' %}" role="button">Booking Space</a>
    <hr class="my-4"> {% for park in parks %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Parking space №{{ park.id }}</h3><br> {% if booking %}
                    <p>Owner: {{ park.owner }}</p>
                    <p>Booking time from: {{ park.from_time }}</p>
                    <p>To: {{ park.to_time }}</p>
                    <p>Description: {{ park.description }}</p>
                    {% if user.role == "Manager" %}
                    <a class="btn btn-primary btn-lg" href="{% url 'change_park' park.id %}" role="button">Change</a>
                    <a class="btn btn-primary btn-lg" href="{% url 'delete_park' park.id %}" role="button">Delete</a> {% endif %} {% endif %}
                </div>
            </div>
        </div>
    </div><br> {% endfor %}{% endif %}
    <p class="lead">
        {% if not user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a> {% endif %}
    </p>
</div>

{% endblock content %}