body {
    color: #000;
}


/* Product card */

.item__container {
    padding: 5px;
    position: relative;
    display: inline-block;
}

.item__container-image {
    display: inline-block;
    overflow: hidden;
    width: 290px;
    height: 250px;
}

.item__container-name {
    overflow: hidden;
    display: inline-block;
    position: relative;
    padding: 150px 10px 0px 10px;
    width: 270px;
    height: 100%;
    transition: all 0.4s ease-in-out;
}

.item__container-name:hover {
    padding: 130px 10px 0px 10px;
    background: rgba(0, 0, 0, 0.3);
}

.item__container-name:hover>.item__container-name-title {
    display: none;
    transition: all 0.4s ease-in-out;
}

.item__container-name:hover>.item__container-name-title--hover {
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
}

.item__container-name-title {
    box-sizing: border-box;
    margin: 0px auto;
    padding: 6px 14px;
    width: 240px;
    min-height: 40px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
}

.item__container-name-title--hover {
    display: none;
    margin: 0 auto;
    padding: 6px 14px;
    width: 240px;
    min-height: 40px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #fff;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.4s ease-in-out;
}

.item__container-panel {
    position: relative;
    display: block;
    top: -5px;
    width: 290px;
    height: 100%;
    z-index: 999;
    background: #f1f1f1;
}

.item__container-panel-price,
.item__container-panel-basket {
    display: table-cell;
    padding: 5px;
}

.item__container-panel-price .price,
.item__container-panel-basket .price {
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.3em;
    background: #f1f4f1;
}

.item__container-panel-price .to-basket,
.item__container-panel-basket .to-basket {
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.3em;
}

.item__container-panel-price .to-basket .button,
.item__container-panel-basket .to-basket .button {
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 5px;
    padding: 7px 12px;
    border: 1px solid #000;
    border-radius: 2px;
    background: #f1f4f1;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
}

.item__container-panel-price .to-basket .button:hover,
.item__container-panel-basket .to-basket .button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.item__container-panel-desc {
    display: block;
    width: 290px;
    height: 100%;
    background: #fff;
}

.item__container-panel-desc p {
    margin-top: 0;
    padding: 5px;
    font-size: 17px;
    text-align: left;
}