{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block content %}
<h1>Fregat office center</h1>
<h3>Parking places</h3>

<div class="item__container">
    <a href="#" class="item__container-image" title="Parking places" style="background: url('https://thumbs.dreamstime.com/z/parking-space-icon-vector-thin-line-sign-isolated-contour-symbol-illustration-parking-space-icon-vector-isolated-contour-symbol-167102157.jpg') center bottom; background-size: cover;">
    </a>
    <div class="item__container-panel">
        <div class="item__container-panel-price">
            <div class="price">
                <span class="price_val">Parking place 1</span>
            </div>
        </div>

        <div class="item__container-panel-desc">
            <p>Status : Empty</p>
            <p>Owner : </p>
            <p>Time :</p>
            <div class="to-basket">
                <a class="button" href="#">Add</a>
                <a class="button" href="#">Change</a>
            </div>
        </div>
    </div>
</div>

<div class="item__container">
    <a href="#" class="item__container-image" title="Parking places" style="background: url('https://thumbs.dreamstime.com/z/parking-space-icon-vector-thin-line-sign-isolated-contour-symbol-illustration-parking-space-icon-vector-isolated-contour-symbol-167102157.jpg') center bottom; background-size: cover;">
    </a>
    <div class="item__container-panel">
        <div class="item__container-panel-price">
            <div class="price">
                <span class="price_val">Parking place 2</span>
            </div>
        </div>

        <div class="item__container-panel-desc">
            <p>Status : Empty</p>
            <p>Owner : </p>
            <p>Time :</p>
            <div class="to-basket">
                <a class="button" href="#">Add</a>
                <a class="button" href="#">Change</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}